.heading-1 {
    font-size: 3.5rem;
    font-weight: 200;
    line-height: 1.4;
    color: $color-dark-blue;

    & span {
        font-weight: 600;
        line-height: 1.6;
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 2.6rem;
    }
}

.heading-3 {
    color: $color-dark-blue;
}

.hero__text--box {
    width: 45%;
    margin: 8rem auto 0 auto;

    @media only screen and (max-width: $bp-largest) {
        width: 60%;
    }

    @media only screen and (max-width: $bp-medium) {
        width: 75%;
    }

    @media only screen and (max-width: $bp-medium) {
        margin: 10rem auto 2rem auto;
    }
}

.hero__text {
    margin-top: 2rem;
}

.attribution {
    text-align: center;
    margin-bottom: 8rem;

    @media only screen and (max-width: $bp-small) {
        font-size: 80%;
    }
}